#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #e86daf;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #e86daf;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ingredient-section{
  display: flex;
justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
}



